<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="file:///android_asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="file:///android_asset/css/style.css">
    <title>Component</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="h2 text-center">Компонент</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="w-100"src="file:///android_asset/img/interface/inspector/inspectorcomp.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div><b>Компонент</b> - это блок свойств для игрового объекта. Любой игровой объект состоит из компонентов. Есть много разных компонентов. Например <b>Transform</b> отвечает за перемещение, вращение и масштабирование объекта по трем осям. Компонент <b>Rigidbody</b> за физику объекта(гравитацию и т.д). Даже у пустого объекта при создании  по умолчанию будет висеть компонент <b>Transform</b> который нельзя удалить. Скрипты тоже являются компонентами, но только в том случае если в скрипте класс наследуются от класса <b>MonoBehavior</b>. Для примера создадим пустой объект который назовем <b>Circle</b> и повесим на него компонент <b>Sprite Render</b> который отвечает за отображения спрайтов.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="w-100"src="file:///android_asset/img/components/component/componentexample.gif" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>Есть так же компоненты которые есть отдельно у <b>3D</b> и <b>2D</b> объектов(название компонента оканчивается на <b>2D</b> ). Например если у <b>3D</b> объекта компонент физики называется <b>Rigidbody</b>, то у <b>2D</b> объекта <b>Rigidbody 2D</b> </div>
            </div>
        </div>
    </div>
</body>
</html>