<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="file:///android_asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="file:///android_asset/css/style.css">
    <title>Transform</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="h2 text-center">Transform</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="w-100"src="file:///android_asset/img/components/transform/transform.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div><b>Transform</b> - этот компонент отвечает за пермещение, вращение и масштабирование объекта. По умолчанию у всех игровых объектов(кроме <b>UI</b> объектов у которых <b>Rect Transform</b>) и его нельзя удалить</div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="h3 text-center">Свойства</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div><b>Position</b> - это свойство отвечает за перемещение объекта по трем осям <b>X</b>, <b>Y</b> и <b>Z</b></div>
                <div class="dividergrey"></div>
                <div><b>Rotation</b> - это свойство отвечает за вращение объекта по трем осям <b>X</b>, <b>Y</b> и <b>Z</b></div>
                <div class="dividergrey"></div>
                <div><b>Scale</b> - это свойство отвечает за маcштабирование объекта по трем осям <b>X</b>, <b>Y</b> и <b>Z</b></div>
            </div>
        </div>
    </div>
</body>
</html>