<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joymaker.unity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditNote"></activity>
        <activity android:name=".CreateNote" />
        <activity
            android:name=".scriptsunity.DetailScriptsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scriptsunity.ScriptsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unityUI.DetailUiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unityUI.UiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".components.DetailsComponentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".components.ComponentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interfaceunity.DetailInterfaceUnityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interfaceunity.InterfaceUnityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>